<!-- <h1>data binding</h1>
{{ title }}
<p>{{ "this is my name" + user.name }}</p>
<p>{{ "this is my age" + user.age }}</p>
<input type="text" [value]="user.name" />
<button type="button" (click)="handleClick()">click me!</button>
<br />
<input type="text" [ngModel]="title" (ngModelChange)="title = $event" />
<br />
<app-hello-world></app-hello-world> -->

<!-- <div *ngIf="user.age >= 18; else noAge18">Ban da du tuoi</div>
<ng-template #noAge18>
  <div>Ban chua du tuoi truong thanh</div>
</ng-template>
<input type="text" [ngModel]="user.age" (ngModelChange)="user.age = $event" />
<br />
<button (click)="user.age = user.age - 1">-</button>
{{ user.age }}
<button (click)="user.age = user.age + 1">+</button> -->

<!--
index: so thu tu,
count: tong phan tu trong mang
first: true neu la phan tu dau tien
last : true neu la phan tu cuoi cung
even : true neu o vi tri chan
odd : true neu o vi tri le
-->

<!-- <ul>
  <li
    *ngFor="
      let users of user;
      index as idx;
      count as total;
      first as isFirst;
      last as isLast;
      even as isEven;
      odd as isOdd
    "
  >
    {{ users.id }} - {{ users.name }} - {{ users.company.name }}
    <br />
    <span>index {{ idx }} of {{ total }}</span>
    <br />
    <span *ngIf="isEven; else isOddIdx"> index is even</span>
    <ng-template #isOddIdx><span>index is odd</span></ng-template>
    <span *ngIf="isFirst">First user</span>
    <span *ngIf="isLast">Last user</span>
  </li>
</ul> -->
<!-- <button (click)="isWarning = !isWarning">toggle warning</button>
<button (click)="isDanger = !isDanger">toggle danger</button>

<div
  class="box"
  [class.red-border]="isDanger"
  [class.yellow-background]="isWarning"
></div>

<p [style]="{ color: 'red', backgroundColor: 'yellow', fontSize: '20' }">
  style binding
</p> -->

<!-- <app-progress-bar></app-progress-bar>
<app-progress-bar
  [progress]="70"
  [progressColor]="'dodgerblue'"
></app-progress-bar> -->
<author-list></author-list>
